* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.section-one {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
 
}


.header {
    display: flex;
    width: 1200px;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.links {
    list-style: none;
    display: flex;
    flex-shrink: 0;
    
}
.logo {
    color: white;
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}

span {
    color: rgb(37, 206, 206);
}

.links a {
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins';
    width: 40px;
    margin: 10px;

}
.links a:hover {
    text-decoration: none;
    color: white;
    padding: 15px;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins';
    width: 40px;
    margin: 10px;
    border-bottom: solid 3px white;

}


.hero-container {
    display: flex;
    justify-content: center;
    background-color: black;
}
.hero {
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    margin-bottom: 40px;
}

.hero-text {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 400px;
    flex-grow: 1;
    font-size: 20px;
}
.hero-text h1,
.hero-text p {
    padding: 10px 0;
}

.hero-text p {
    margin-bottom: 20px;
}
.logo.one {
    font-size: 45px;
}
.hero-text a {
    text-decoration: none;
    color: black;
    background-color: yellow;
    padding: 10px 20px;
    border-radius: 5px;
    
}
.hero-text a:hover {
    text-decoration: none;
    color: yellow;
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
    border: solid 2px yellow;
    
}

.hero-image {
    width: 600px;
    flex-shrink: 3;
}
.hero img {
    width: 600px;
    border-radius: 10px;
   
}

