* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.section-one {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
 
}


.header {
    display: flex;
    width: 1200px;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    margin-bottom: 50px;
}

.links {
    list-style: none;
    display: flex;
    flex-shrink: 0;
    
}
.logo {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
}

span {
    color: rgb(37, 206, 206);
}

.links a {
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins';
    width: 40px;
    margin: 10px;

}
.links a:hover {
    text-decoration: none;
    color: white;
    padding: 15px;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins';
    width: 40px;
    margin: 10px;
    border-bottom: solid 3px white;

}


.hero-container {
    display: flex;
    justify-content: center;
    background-color: black;
}
.hero {
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    margin-bottom: 80px;
}

.hero-text {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 400px;
    flex-grow: 1;
    font-size: 20px;
}
.hero-text h1,
.hero-text p {
    padding: 10px 0;
}

.hero-text h1 {
    font-size: 50px;
    font-family: 'Exo';
    padding-right: 20px;
    font-weight: 800;

}

.hero-text p {
    margin-bottom: 20px;
}



.logo.one {
    font-size: 45px;
    
}
.hero-text a {
    text-decoration: none;
    color: black;
    background-color: yellow;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    
}
.hero-text a:hover {
    text-decoration: none;
    color: yellow;
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
    border: solid 2px yellow;
    
}

.hero-text a:focus {
    text-decoration: none;
    color: yellow;
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
    border: solid 2px tan;

}

.hero-image {
    width: 600px;
    padding-top: 20px;
}
.hero img {
    width: 600px;
    border-radius: 10px;
   
}

.section-two {
     text-align: center;
     background-color: rgb(223, 239, 253);
     display: flex;
     justify-content: center;
     
}
.info-heading {
    padding: 50px 0;
    font-size: 35px;
    font-weight: 1000;
    font-family: 'Courier New', Courier, monospace;
}
.info-container {
    display: flex;
   justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 80px;
}

.info-container  div {
    width: 350px;
}

.info-container img {
    width: 350px;
    border-radius: 10px;
}

.info-container p {
    font-size: 17px;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 0;
}


.section-three {
    background-color: rgb(221, 221, 221);
    display: flex;
    justify-content: center;
}

.quote-wrapper {
    width: 1200px;
    margin: 100px 0 100px 0;
}

.quote-item-one {
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    padding: 0 20px;
}

.quote-item-two {
    display: flex;
    justify-content: flex-end;
    font-size: 35px;
    font-family: 'Noto Sans';
    font-weight: 1000;
    padding: 0 20px;

}

.section-four {
    display: flex;
    justify-content: center;
}

.prompt {
    margin: 80px 0;
    width: 1000px;
    background-color: rgb(9, 9, 128);
    padding: 50px 80px;
    display: flex;
    justify-content: space-between;
    border-bottom: 10px solid rgb(81, 230, 230);
}

.prompt-text {
    color: white;
    font-family: 'Poppins', sans-serif;

}

.signup {
    align-self: center;
    color: white;
    border: 2px solid white;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.prompt-text h4 {
    font-size: 25px;
    padding-bottom: 7px;

}
.signup:hover {
    align-self: center;
    color: rgb(9, 9, 128);
    border: 2px solid rgb(143, 235, 235);
    background-color: rgb(143, 235, 235);
    padding: 10px 30px;
    border-radius: 10px;

}


.footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;

}

.footer p {
    padding: 30px 0;
    font-family: 'Poppins', sans-serif;
}